.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;    border-color: rgb(255, 17, 0);
    position: absolute;
    font-size:14px;color:grey;top:0px;right:0px;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}


.profileimg{
    width: 200%;
    float: right;
    right:10%;
    top:0px;
    position: absolute;
}