.briefinfo{
    position:fixed;
    width:85%;
    z-index: 29;
    top:105px; 
    height:60px;
    background-color:  white;
    float:middle;
    font-size: 17px;
    font-family:  "Arias", sans-serif;
    font-weight:700;
    color:rgba(7, 47, 94, 0.815);   
     text-align: left;
     line-height: 60px;
    /* border:solid; */
    border-top:solid;
    border-color:rgb(228, 228, 228);   border-width:0.5px;
}
.fandetailnavwrap{
    position:fixed;
    width:85%;
    z-index: 109;
    top:165px; 
    height:35px;
    background-color:  rgb(228, 228, 228);   
    float:middle;

}
.fandetailnav{
    background-color: transparent;
     width:170px;
    top:105px; 
    height:35px;
    border-right:solid;
    border-width:1px;
    border-color:rgb(214, 214, 214);   
    text-align: middle;
    font-size:12px; 
    float:left;
 }

.fandetailnav a{ 
    text-decoration: none;
    margin: 19px;
    line-height:35px;
    color:black;
    font-family:  "Gill Sans", sans-serif;

 }

 .fandetailnav a:visited { 
     text-decoration: none;
     color:black;
    }

.fandetailnav:hover { 
    text-decoration: none;
    cursor: pointer;
    background-color:rgb(209, 208, 208);  
    color:black;
}

 .fandetailcontent{
    margin-left:20px;
    /* top: 200px; */
    margin-top:150px;
    position: relative;
 }

 .doc{
    display: inline-block;
    line-height:45px;

}

 .doc img{
     width:8%;
      float:left;     
 
 }


 .doc span{
     width:auto;
     font-size:12px;
     float:left;
      
 }

.tr0 {
background-color:rgba(209, 208, 208, 0.459);  
 
  }

  .productdetailtitle{
    font-size: 17px;
    font-family:  "Arias", sans-serif;
    font-weight:700;
    color:rgba(7, 47, 94, 0.815);   
    background-color: white;
    text-align: left;
    /* text-indent: 20px; */
    float:left;
    width:95%;
    margin-bottom:20px;
 
}
.productdetailsubtitle{
    line-height: 25px;
    font-size: 14px;
    font-family:  "Gill Sans", sans-serif;
    font-weight:500;
    color:rgba(90, 90, 90, 0.815);   
    background-color: white;
    text-align: left;
    text-indent: 10px;
     float:left;
    border-top :solid;   
     width:98%;
     border-width:1px;
     height:25px;

}



.tablehead{
    width:140px;
    background-color: rgba(128, 128, 128, 0.144);
}
table{
    font-size: 12px;
    font-family:  "Gill Sans", sans-serif;
    text-align: left;
    float:left;
    width:98%;
    position: relative;
    display: block;
    z-index: 0;
    background-color: white;
    color:black;    
    font-family:  "Gill Sans", sans-serif;
    border-bottom:solid;
    border-width:1px;
    border-top:solid;

}

tr,td{
    border-bottom: solid;
    border-width:0.5px;
    border-color: rgba(128, 128, 128, 0.562);
     height:20px;
}

td{
    width:400px;
}

.longtd{
    width:100%;
}

